*{
    padding: 0;
    margin: 0;
}
body{
    background-color: tomato;
}
.btnGroup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btnGroup .btn{
    padding: 36px 18px;
    border: none;
    outline: 0;
    background-color: transparent;
    color: rgb(13, 173, 21);
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    border-radius: 50%;
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.btnGroup .btn:hover{
    cursor: pointer;
}
@keyframes animate{
    0%{
        border-bottom: 2px solid rgb(13, 173, 21);
    }
    25%{
        border-left: 2px solid rgb(13, 173, 21);;
    }
    
    50%{
        border-top: 2px solid rgb(13, 173, 21);;
    }
    
    75%{
        border-right: 2px solid rgb(13, 173, 21);;
    }
    
    100%{
        border: 0;
    }
}